# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\workspace\svn\04代码管理\01报表平台\10DIS\06RBS_INTERFACE_SYNC\UDF\hive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
